<footer>
  <mat-grid-list cols="6" rowHeight="1:1">
    <mat-grid-tile>
      <article class=" grid-col grid-col--tiles">
        <ul class="social">
          <li>
            <a id="footer_facebook" href="https://www.facebook.com/foodfiz" title="Facebook" target="_blank">
            </a>
          </li>
          <li>
            <a id="footer_pinterest" href="http://pinterest.com/foodfiz/" title="Pinterest" target="_blank"></a>
          </li>
          <li>
            <a id="footer_twitter" href="https://twitter.com/foodfiz" title="Twitter" target="_blank">
            </a>
          </li>
          <li>
            <a id="footer_instagram" href="http://instagram.com/foodfiz" title="Instagram" target="_blank">
            </a>
          </li>
          <li>
            <a id="footer_tumblr" href="http://foodfiz.tumblr.com/" title="Tumblr" target="_blank">
            </a>
          </li>
          <li>
            <a id="footer_googleplus" href="https://plus.google.com/+foodfiz/" title="Google Plus" target="_blank">
            </a>
          </li>
          <li>
            <a id="footer_stumbleupon" href="http://www.stumbleupon.com/stumbler/foodfiz" title="StumbleUpon" target="_blank">
            </a>
          </li>
          <li>
            <a id="footer_youtube" href="https://www.youtube.com/user/foodfiz" title="YouTube" target="_blank">
            </a>
          </li>
        </ul>
      </article>

    </mat-grid-tile>
    <mat-grid-tile>
      <article class="grid-col grid-col--tiles">
        <ul>
          <li>About Us</li>
          <li>
            <a id="footer_newsroom" href="/Newsroom" target="_self">Newsroom</a>
          </li>
          <li>
            <a id="footer_jobs" href="/jobs" target="_self">Jobs at foodfiz</a>
          </li>
        </ul>
      </article>
    </mat-grid-tile>
    <mat-grid-tile>
      <article class="grid-col grid-col--tiles footer_advertising">
        <ul>
          <li>Advertising</li>
          <li>
            <a id="footer_advertisewithus" class="" href="/digital" target="_self">Advertise with Us</a>
          </li>
        </ul>
      </article>
    </mat-grid-tile>
    <mat-grid-tile>
      <article class="grid-col grid-col--tiles">
        <ul>
          <li>Support</li>
          <li>
            <a id="footer_sitemap" href="/faq-sitemap/" target="_self">Site Map</a>
          </li>
          <li>
            <a id="footer_contactus" href="/customer-service/contact-us-2/" target="_self">Contact Us</a>
          </li>
          <li>
            <a id="footer_customersupport" href="/customer-service/" target="_self">Customer Support</a>
          </li>
        </ul>
      </article>
    </mat-grid-tile>
    <mat-grid-tile>
      <article class="grid-col grid-col--tiles ng-scope" ng-controller="ar_controllers_footerLinks" data-siteurl="foodfiz.com">
        <ul>
          <li>Global Community</li>
          <li>
            <select id="country-selector" onchange="changesite(this.value);">
              <option value="">Select location</option>
              <option value="http://foodfiz.co.in">India</option>
            </select>
          </li>
          <li>&copy; 2017 foodfiz.com<br>All Rights Reserved </li>
          <li><a id="footer_privacypolicy" href="/privacy" target="_blank">Privacy Policy Your California Rights</a></li>
          <li><a id="footer_terms" href="/terms" target="_blank">Terms of Service</a>
          </li>
          <li>
            <a id="footer_datapolicy" href="/datapolicy" target="_blank">Data Policy</a></li>
        </ul>
      </article>
    </mat-grid-tile>
    <mat-grid-tile>

      <article class="grid-col grid-col--tiles">
        <ul>
          <li>More foodfiz</li>
          <li>
            <a id="footer_magazine" href="#" target="_self">foodfiz Magazine
              <span>
                <span>–</span> Subscribe</span>
            </a>
          </li>
          <li>
            <a id="footer_apps" href="/mobile-apps" target="_self">foodfiz Apps</a>
          </li>
          <li>
            <a id="footer_blog" href="/blog" target="_self">The foodfiz Blog</a>
          </li>

        </ul>
      </article>
    </mat-grid-tile>
  </mat-grid-list>

</footer>